---
import SectionLayout from "../layouts/SectionLayout.astro";
import Link from "./ui/Link.svelte";
---

<div class="flex flex-col justify-center px-5 md:pl-14 pt-nav h-screen">
  <h1 class="font-bold text-3xl">Oi! Hello!</h1>
  
  <div class="pt-5 prose-invert text-left prose-p:mb-4 pb-28 md:text-lg  md:w-6/12 md:prose-p:px-0">
    <p>I'm Felipe, but most of the time I go by the alias “sazz”. I’ve been building software applications since 2017, and had my first contact with programming when I was 8. Everything that I know today its self-taught.</p>
    <p>Over the years, I had the chance to work with clients such as <Link to="https://www.youtube.com/channel/UC-yA8YhrAgpFp4aVHRaNyMA">Core das Antigas</Link>, <Link to="https://discord.gg/yGSMRTJWYP">Sagaz Club</Link> and many others, by building solutions that help their community thrive. From Discord bots to first iterations of gaming platforms.</p>
    <p>I also led the first in-house development initiative for the <Link to="https://onucolegial.com">ONU Colegial & Intercolegial</Link> student event, where I developed and designed applications aimed at marketing and event organization, acting as the director of the logistics team and then as a member of the communications team.</p>
    <p>I'm a music junkie, crazy about all types of genres and in my free time, I love to watch some movies and series. I’m Interested in highly scalable technologies, DevOps, InfoSec, and entrepreneurship.</p>
  </div>
</div>
