---
import CenterSectionLayout from "../layouts/CenterSectionLayout.astro";
import ProjectsCarousel from "./ui/ProjectsCarousel.svelte";
---

<CenterSectionLayout id="featured" title="Featured open-source projects ">
  <div class="flex justify-center w-screen pt-5 not-prose">
    <ProjectsCarousel client:only="svelte" />
  </div>
</CenterSectionLayout>
