---
import CenterSectionLayout from "../layouts/CenterSectionLayout.astro";
---

<CenterSectionLayout id="featured" title="Featured Projects ">
  <div class="flex justify-center pt-5 not-prose">
  </div>
</CenterSectionLayout>
