---
import CenterSectionLayout from "../layouts/CenterSectionLayout.astro";
---

<CenterSectionLayout id="hire" title="✉️ For hire!">
  <p>
    I’m a freelancer! If you want a website, discord bot or other services, feel
    free to contact me using my email or sending a DM on Discord.
  </p>

  <p>
    More information @ <a
      class="text-blue-600"
      href="https://jobs.sazz.dev"
      target="_blank">https://jobs.sazz.dev</a
    >
  </p>
</CenterSectionLayout>
