---
import CenterSectionLayout from "../layouts/CenterSectionLayout.astro";
import TechnologyIcon from "./ui/icons/TechnologyIcon.svelte";

import languages from "../data/tech.json";
---

<CenterSectionLayout id="tech" title="Most used technologies">
  <p>
    I love bleeding-edge technologies and frameworks! Keep in mind that this
    list is not exhaustive, as I am always tinkering with different tools.
  </p>

  <div class="flex justify-center pt-5">
    <div
      class="grid justify-center items-center lg:grid-cols-2 gap-5 w-[70rem]"
    >
      {
        languages.map((language) => (
          <div class="flex flex-col lg:flex-row border-[#2B2B2B] border-2 min-h-[124px] w-[300px] lg:w-full rounded-xl">
            <div
              style={`background-color: ${language.backgroundColor}`}
              class="flex justify-center items-center w-full lg:w-24 h-auto lg:border-r-2 border-[#2B2B2B] rounded-t-xl lg:rounded-r-none lg:rounded-l-xl"
            >
              <TechnologyIcon
                technology={language.icon}
                className=" w-16 h-24 lg:h-16"
              />
            </div>

            <div class="flex flex-col justify-center text-left pl-5 pt-5 pr-5">
              <h1 class="font-bold text-2xl">{language.name}</h1>
              <p class="pt-1 font-light">{language.description}</p>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</CenterSectionLayout>
