---
import SectionLayout from "../layouts/SectionLayout.astro";
import Link from "./ui/Link.svelte";
---

<div class="flex flex-row gap-28">
  <SectionLayout id="whoami" title="Hi, I'm Felipe.">
    <p>
      A software developer & high schooler from Salvador, Brazil. I had my first
      contact with programming when I was 8, but only really got into coding
      when I was 10. I'm also a music junkie, crazy about all types of genres.
      In my free time, I love to watch some movies and series!
    </p>
    <p>
      I've always been passionate about innovation, I created original and
      creative personal projects, which led me to develop several skills over
      the years. Professionally, I worked with clients like <Link
        to="https://www.youtube.com/channel/UC-yA8YhrAgpFp4aVHRaNyMA"
      >
        Core das Antigas
      </Link> and many others.
    </p>

    <p>
      Interested in highly scalable technologies, DevOps, InfoSec, and
      entrepreneurship.
    </p>
  </SectionLayout>
  <img
    class="hidden w-96 h-96 pb-20 pointer-events-none md:inline"
    src="cube_ascii.gif"
  />
</div>
