---
import SectionLayout from "../layouts/SectionLayout.astro";
---

<div class="flex flex-row gap-28">
  <SectionLayout id="whoami" title="Felipe Garcia (a.k.a sazz)">
    <p>
      I’m a web developer from Salvador, Brazil. I had my first contact with
      programming when I was 8, but only really got into coding when I was 10.
      Nowadays, I'm a fast learner and proficient in TypeScript and JavaScript,
      focusing on backend development.
    </p>
    <p>
      I've always been passionate about creating original and creative personal
      projects, which led me to develop several skills over the years. Also, I
      have always enjoyed participating in communities and projects with other
      people.
    </p>

    <p>
      I am interested in highly scalable technologies, DevOps, InfoSec, and
      entrepreneurship.
    </p>
  </SectionLayout>
  <img
    class="hidden md:inline w-96 h-96 pb-20 pointer-events-none"
    src="cube_ascii.gif"
  />
</div>
