---
import ProjectCard from "../../components/ui/project-card/project-card.svelte";
import BaseLayout from "../../layouts/BaseLayout.astro";
import ContentPageLayout from "../../layouts/ContentPageLayout.astro";

import projects from "../../data/projects.json";
---

<BaseLayout pageTitle="Projects">
  <ContentPageLayout title="Projects">
    <div class="flex flex-col gap-10 md:gap-20 flex-wrap md:flex-row">
      {
        projects.map((project) => (
          <ProjectCard
            name={project.name}
            shortDescription={project.shortDescription}
            coverImage={project.cover}
            slug={project.slug}
          />
        ))
      }
    </div>
  </ContentPageLayout>
</BaseLayout>
