---
import "@fontsource/fira-code/500.css";
import "../base.css";

import Navbar from "../components/ui/Navbar.svelte";

interface Props {
  pageTitle: string;
}

const { pageTitle } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="robots" content="index,follow" />
    <link
      rel="preload"
      href="/fonts/Satoshi-Variable.woff2"
      as="font"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/Sentient-Variable.woff2"
      as="font"
      crossorigin
    />

    <meta
      name="description"
      content="Software Engineer and Backend Developer."
    />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="sazz.dev" />
    <meta name="twitter:creator" content="FelipeSazz" />
    <meta property="og:title" content="Felipe Garcia (a.k.a sazz)" />
    <meta
      property="og:description"
      content="Software Engineer and Backend Developer."
    />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_US" />
    <meta name="theme-color" content="#306FBD" />
    <title>FS. - {pageTitle}</title>
  </head>
  <body class="flex flex-col bg-black text-white">
    <Navbar client:only />

    <slot />
  </body>
</html>
