---
import TopBar from "../components/ui/TopBar.svelte";
import Menu from "../components/ui/Menu.svelte";

// for some reason, when importing the index css, only the 400 font weight is loaded
import "@fontsource/overpass/200.css";
import "@fontsource/overpass/300.css";
import "@fontsource/overpass/400.css";
import "@fontsource/overpass/500.css";
import "@fontsource/overpass/600.css";
import "@fontsource/overpass/700.css";
import "@fontsource/overpass/800.css";
import "@fontsource/overpass/900.css";

import "@fontsource/syne/700.css";

import "@fontsource/fira-code/500.css";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="robots" content="index,follow" />
    <meta
      name="description"
      content="Software Engineer and Backend Developer."
    />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="sazz.dev" />
    <meta name="twitter:creator" content="FelipeSazz" />
    <meta property="og:title" content="Felipe Garcia (a.k.a sazz)" />
    <meta
      property="og:description"
      content="Software Engineer and Backend Developer."
    />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_US" />
    <meta name="theme-color" content="#306FBD" />
    <title>sazz</title>
  </head>
  <body class="flex flex-col bg-black text-white">
    <TopBar />
    <Menu client:load />

    <slot />
  </body>
</html>
