---
import TopBar from "../components/ui/TopBar.svelte";

import "@fontsource/overpass";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>sazz.dev</title>
  </head>
  <body class="flex flex-col bg-black text-white">
    <TopBar />
    <slot />
  </body>
</html>
