---
interface Props {
  id: string;
  title: string;
}

const { id, title } = Astro.props;
---

<section
  id={id}
  class="flex flex-col text-center text-xl font-light w-2/3 prose-invert prose-p:mb-4 pb-28 lg:text-left lg:pl-28"
>
  <h1 class="text-3xl font-bold mb-4">{title}</h1>

  <slot />
</section>
