@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@200&display=swap");

html {
  box-sizing: border-box;
}

body {
  font-family: "Overpass", sans-serif;
}

.header {
  height: 100vh;
}

.space-background {
  background-image: url("/unplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  background-color: rgb(16, 16, 16, 0.5);
  background-position: center;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  overflow: hidden;
}

.space-background::after {
  backdrop-filter: blur(2px);
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: "";
  pointer-events: none;
}
